#visual {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f30c;
    border-radius: 15px;
    height: 10%;
    align-items: center;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}


.logo {
    margin-left: 2em;
}

header nav {
    margin-right: 2em;
}

header nav a {
    margin: 0 1em;
    color: #f3f3f3;
    text-decoration: none;
}   



main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.choice {
    height: 20em;
    width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.header-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.choice-made {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.btn {
    margin: 1em 0.5em;
}

.btn a {
    margin: 0 1em;
    border-radius: 25px;
}

.btn-seq {
}

.btn-class {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 2.5;
    outline: transparent;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    padding: 0 1em;
}

.btn-class:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-class:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


