h1, h2, h3 ,h4, a, ul, li {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1.3em;
    font-family: sans-serif;
    color: #f3f3f3;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}